
.leaderboard {
  height: 60%;
  width: 28rem;
  position: absolute;
  transition: 0.5s;
  right: -25rem;
}

.leaderboard__body {
  margin: 0 0 0 3rem;
  background-color: #282828;
  height: inherit;
  box-shadow: 20px 0px 20px 0px #ab26e5;
}

.leaderboard__head > button {
  padding: 1rem;
  border: 1px solid #ab26e5;
  outline: none;
  color: white;
  background-color: transparent;
  cursor: pointer;
}

.leaderboard__body .title {
  color: white;
  text-align: center;
}

.leaderboard__body .table ul {
  color: white;
  list-style: none;
}